<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="static/css/add_book.css">
            <title>Добавление книги</title>
        </head>
        <style>
            body {
                  background: #66ccff;
                  }
        </style>
        <body>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" style="background-color: #f2f2f2; padding: 50px; margin: 50px; align: left">
                <h1>Добавление книги</h1>
                <p style="margin-bottom: 15px;">Вы можете осуществлять поиск по названию, по автору или по тому и другому</p>
                <form method="post">
                    <div class="form-group">
                        <label for="title">Название</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Тайм-менеджмент по помидору">
                    </div>
                    <div class="form-group">
                        <label for="author">Автор</label>
                        <input type="text" class="form-control" id="author" name="author" placeholder="Штаффан Нёттеберг">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Искать</button>
                        <a class="btn btn-primary" href="{{ url_for('books_page.books') }}" role="button">На полку</a>
                    </div>
                </form>
                {% if books %}
                    {% if books[0] == None %}
                        <p style="margin-top: 10px;">По этому запросу ничего не нашлось</p>
                    {% else %}
                        <p style="margin-top: 10px;">Результатов: {{ books|length }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% block content %}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        </body>
    </html>