<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                  crossorigin="anonymous">
            <title>Удаление книги</title>
        </head>
        <body>
            <form method="post">
                <label for="password">Введите пароль для подтверждения</label>
                <input type="password" class="form-control col-xl-3 col-lg-3 col-md-4 col-sm-5 col-7" id="password" name="password">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
                <p>{{ message }}</p>
                <a href={{url_for('recovery_form.recovery')}}>Забыли пароль?</a>
            </form>
        </body>
    </html>