<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                  crossorigin="anonymous">
            <title>Аккаунт удалён</title>
        </head>
        <body>
            <h1>Ваш аккаунт удален.</h1>
            <h5>Нам очень жаль с вами расставаться</h5><br>
            <h5>Но ещё не поздно начать всё сначала</h5>
            <a href="{{login_form.login}}" class="btn btn-primary">Войти</a>
            <a href="{{registration_form.register}}" class="btn btn-primary">Зарегистрироваться</a>
        </body>
    </html>