<!DOCTYPE>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                  crossorigin="anonymous">
            <title>Recovery</title>
        </head>
        <style>
            body {
                  background: #66ccff;
                  }
        </style>
        <body>
            {% if is_password %}
                <form action="" method="post" novalidate class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" style="padding: 50px; background-color: #f2f2f2; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
                    <h1>Восстановление пароля</h1>
                    <label for="password">Новый пароль</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <label for="password2">Повторите пароль</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                    <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Сменить</button>
                    <p>{{ message }}</p>
                </form>
            {% else %}
                <form action="" method="post" novalidate class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-10" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
                    <h1>Восстановление пароля</h1>
                    <label name="text" for="form">{{ form_text }}</label>
                    <input type="text" class="form-control" id="form" name="form" aria-describedby={{hint}}>
                    <button type="submit" class="btn btn-primary" style="margin-top: 15px;">{{ button_text }}</button>
                    <p>{{ message }}</p>
                </form>
            {% endif %}
        </body>
    </html>